.signin-form , .signup-form{
	direction: rtl;
}
.signup-form select{
	width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}
.auth_mail{
	padding: 22px 0;
}
.signup{
	margin-bottom: unset;
}
.validation span{
    color: #28a745!important;
    font-size: 15px;
    display: inline-block;
    padding-top: 5px;
}
#form_delete{
    display: inline;
}
#form_delete button{
    border:unset;
    background: unset;
    cursor: pointer;
}
#form_delete button:focus{
    outline: unset;
}
.card{
    overflow-x:  auto !important;
}
@media screen and (min-width: 320px) {
    #send_order{
        margin-left: 31% !important;
    }
}
@media screen and (min-width: 375px) {
    #send_order{
        margin-left: 35% !important;
    }
}
@media screen and (min-width:425px) {
    #send_order{
        margin-left: 40% !important;
    }
}
@media screen and (min-width:768px) {
    #send_order{
        margin-left: 0 !important;
    }
}

@media screen and (min-width:320px) {
    #send_order_out{
        margin-left: 33% !important;
    }
}

@media screen and (min-width:375px) {
    #send_order_out{
        margin-left: 0 !important;
    }
}